<h1>hello#login</h1>

<p>Please sign in</p>

<form action="/home/login" method="POST">
	<input id="username" type="text" name="username" /><br />
	<input id="password" type="password" name="password" /><br />
	<input type="submit" value="Sign In"/>
</form>